<h1>Jobs</h1>
<div id = "jobs">
<% @jobs.each do |job| %>
  <div class = "job">
    <h2><%= link_to job.title, job %></h2>
    <p><%= job.company %>
  </div>
<% end %>
</div>
<br>
<p><%= paginate @jobs %></p>
<br>
