/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



#jobs {
	.job {
		padding: 1em 0;
		border-bottom: 1px solid rgba(0,0,0,0.4);
		h5{
			color: black;
		}
		h2 {
			font-size: 2.5em;
			font-weight: 300;
			margin-bottom: 0;
			color: black;
			a {
				color: black;
			}
		}
		p {
			color: rgba(250,250,250, 0.5);
		}
	}
}

body{
	background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, #96CCBE),
 color-stop(1, #F4FFB6)
);
background-image: -o-linear-gradient(bottom, #96CCBE 0%, #F4FFB6 100%);
background-image: -moz-linear-gradient(bottom, #96CCBE 0%, #F4FFB6 100%);
background-image: -webkit-linear-gradient(bottom, #96CCBE 0%, #F4FFB6 100%);
background-image: -ms-linear-gradient(bottom, #96CCBE 0%, #F4FFB6 100%);
background-image: linear-gradient(to bottom, #96CCBE 0%, #F4FFB6 100%);
}
